# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
